// app global css in SCSS form

input[type="date"] ~ div.q-field__label {
  margin-top: -0.75rem;
}

@media (hover: hover) and (pointer: fine) {
  .q-table tbody > tr {
    .q-toolbar {
      display: none !important;
    }
    &:hover {
      .q-toolbar {
        display: inline-flex !important;
      }
    }
  }
}
